*{ 
    padding: 0em;
    margin: 0em;
}

.turing_img{ 
    height:3vh ;
}

.turing_div{ 
margin: 4em 0em 3em 0em;
}

.work_p{ 
    font-family:sans-serif;
    font-size: 1.1em;
}

.we_of_p{ 
    font-size: .8em;
}
/* <!-- img div end  --> */

.tc_img{ 
    height: .8em;
}

.as_on_p{ 
    font-size: .8em;
    margin-bottom: .2em;
}

.last_img_d{ 
padding-bottom: 7.8em;
}
/* col-3 end */

.si_p{ 
    font-family:sans-serif;
    padding-top: 4em;
    line-height: .2em;
}

.hover_p:hover{
    color: rgb(55, 55, 248);
    transition: all .3s; 
}

.input_email{ 
    padding: .4em 6em .4em .6em;
    border: .1em solid grey;
}

.input_email:hover{
    border: .1em solid blue; 
    transition: all .3s; 
}

.input_pw{ 
    padding: .4em 6em .4em .6em;
    border: .1em solid grey;
    background-image: url("./img/eye_icon.png");
background-size: 1em;
background-repeat: no-repeat;
background-position:right;
background-position-x: 16.5em;
}

.email_lh{ 
    line-height: .5em;
    font-size: .8em;
}

.si_button{ 
    padding: .4em 7.5em .4em 7.5em;
   margin-top: 2em;
   background-color: #2f2f2f;
   color: white;
   font-family:sans-serif;
}

.si_button:hover{ 
    background-color: #444444;
    transition: all .3s; 
    cursor: pointer;
}

.or_p{ 
    margin-left:5.5em;
    line-height: .1em;
}

.ggl_button{ 
    padding: .4em 4.7em .4em 4.7em;
    margin-top: 2em;
    background-color: whitesmoke;
    color: grey;
    font-family:sans-serif;
    background-image: url("./img/google_icon.webp");
    background-repeat: no-repeat;
    background-size:1.2em;
 background-position: left;
 background-position-x: 3em;
 box-shadow: .1em .1em;
 margin-top: 1em;
}

.fcb_button{ 
    padding: .4em 4.2em .4em 4.2em;
    margin-top: 2em;
    background-color: whitesmoke;
    font-family:sans-serif;
    background-image: url("./img/facebook_icon.png");
    background-repeat: no-repeat;
    background-size:1.2em;
 background-position: left;
 background-position-x: 2.3em;
 box-shadow: .1em .1em;
}

.fpw_button{ 
    padding: .4em 6em .4em 4.2em;
    margin-top: 2em;
    font-family:sans-serif;
    color: #444444;
    background-color: white;  
}

.fpw_button:hover{ 
    background-color: whitesmoke;
    transition: all .3s; 
}

.cprgt_p{ 
    margin-top: 43.5em;
    font-family:sans-serif;
}

.tp_p:hover{ 
    cursor: pointer;
    transition: all .3s; 
}

